#Footer {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100px;
    overflow-x: hidden;
    border: 1px solid black;

    #FooterContainer {
        display: grid;
        position: relative;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        div {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:hover {
                text-decoration: underline;
                opacity: 0.9;
            }

            .FooterLink {
                display: flex;
                position: relative;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }

            .FooterSocialIcon {
                font-size: 28px;
                margin: 0 15px;
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

                &:hover {
                    opacity: 0.9;
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #Footer {
        #FooterContainer {
            grid-template-columns: 1fr 1fr;
        }
    }
}
